
/*Navbar styles
*/
.navbar{
	width: 100%;
	margin: 0;
	padding:0;
	/* color scheme 1*/
	
	/* color scheme 2*/ 
	background: rgba(47, 47, 47, 0.82);
	color: white;
	


}
.top-container{
	background-color: black;
	width:100%;
	margin:0;
	padding: 0;


}
.top-row{
	width: 100%;
	margin: 15px 0;
	padding:0;
	
}
.top-row a{
	visibility: hidden;
	
}



.menu-row{
	width: 100%;
	margin: 15px 0;
	padding:0;
	
}

.navbar-text {
	font-size: 15px;
	text-align: center;
	margin: 0;
	padding:0;
	
	


}


.navbar-text a:link,a:visited {
	text-decoration: none;
	color: white;
	
}

.navbar-text a:hover {
	color: #7a7a7a;
}



/* NAV */
.nav {
	font-size: 12px;
}


}

.nav a:hover {
	color: #7a7a7a;
}


/*end of navbar styles
*/


